.idea/
config/api_keys.local.json
config/config_ccxt.yaml
config/config_coins.yaml
config/config_pingpong.yaml
config/config_blocknet.yaml
data/
logs/
.history
.python-version
.aider*
.env
.venv
.aider.chat.history.md
__pycache__