.idea/
doc/
config/api_keys.local.json
config/config_ccxt.yaml
config/config_coins.yaml
config/config_pingpong.yaml
config/config_blocknet.yaml
config/config_xbridge.yaml
config/config_thorchain.yaml
config/config_arbitrage.yaml
config/config_basic_seller.yaml
data/
logs/
.history
.python-version
.aider*
.env
.venv
.aider.chat.history.md
__pycache__
*.pyc


deprecated_frames.py